html,body{
    height: 100%;
}

body{
    display: flex;

    flex-direction: column;

    min-height: 100vh;
}
#cart-list{
    list-style: none;

    padding: 0;
}
.cart{
    width: 700px;

    margin: 100px auto;

    background: white;

    padding: 30px;

    border-radius: 15px;

    box-shadow: 0 5px 10px rgba(0,0,0,0.2);

    flex: 1;
}

.cart-item{
    display: flex;

    align-items: center;

    justify-content: space-between;

    gap: 20px;

    padding: 15px 0;

    border-bottom: 1px solid #ccc;
}

.cart-item img{
    width: 100px;

    height: 100px;

    object-fit: cover;

    border-radius: 10px;
}

.cart-info{
    flex: 1;
}
.cart ul{
    list-style: none;

    padding: 0;
}
.cart-info h4{
    margin-bottom: 10px;
}

.cart-info p{
    color: #ff6600;

    font-weight: bold;
}

.delete-btn{
    padding: 8px 15px;

    border: none;

    background: red;

    color: white;

    border-radius: 6px;

    cursor: pointer;
}

.pay-btn{
    width: 100%;

    margin-top: 20px;

    padding: 12px;

    border: none;

    background: #3b2417;

    color: white;

    border-radius: 8px;

    cursor: pointer;

    font-size: 16px;
}

